fieldset {
  /*border: 2px solid #e0a428;*/
  border: 2px solid #eef2f7;
  border-radius: 8px;
  padding: 15px;
  margin: 0;
  /*background: rgba(255, 255, 255, 0.05);*/
}

fieldset legend {
  /*color: #e0a428;*/
  color: white;
  font-family: 'Noto Sans Khmer', serif;
  font-size: 30px;
  padding: 0 10px;
  width: auto;
  float: none;
  margin: 0 auto;
  text-align: center;
}

/* Ensure the table fits within the fieldset */
.table {
  margin-bottom: 0;
  width: 100%;
}

/* Adjust fieldset spacing */
.today-schedule,
.upcoming-schedule {
  margin-top: 20px;
}
.table tbody tr:last-child td {
  border-bottom-width: 0;
}
td.no-data{
  font-size: 25px;
  font-family: 'Noto Sans Khmer', serif;
  /*padding: 30px;*/
}
