<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">

  <!-- LOGO -->
  <a href="/" target="_blank" class="logo text-center logo-light">
            <span class="logo-lg">
                <img src="dtm.ico" alt="" height="60px">
            </span>
    <span class="logo-sm">
                <img src="dtm.ico" alt="" height="60px">
            </span>
  </a>

  <!-- LOGO -->
  <!--  <a href="index.html" class="logo text-center logo-dark">-->
  <!--        <span class="logo-lg">-->
  <!--            <img src="assets/images/logo-dark.png" alt="" height="16">-->
  <!--        </span>-->
  <!--    <span class="logo-sm">-->
  <!--            <img src="assets/images/logo_sm_dark.png" alt="" height="16">-->
  <!--        </span>-->
  <!--  </a>-->

  <div class="h-100" id="leftside-menu-container" data-simplebar>

    <!--- Sidemenu -->
    <ul class="side-nav">
      <li class="side-nav-title side-nav-item">ទំព័រដើម</li>
      <li class="side-nav-item">
        <a routerLink="/admin" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
          <i class="fa-solid fa-calendar-days"></i>
          <span> កាលវិភាគ</span>
        </a>
      </li>

      <li class="side-nav-title side-nav-item">ការកំណត់</li>
      <li class="side-nav-item">
        <a  routerLink="/admin/presidium" aria-expanded="false" class="side-nav-link">
          <i class="fa-duotone fa-thin fa-user-tie-hair"></i>
          <span>អធិបតីភាព</span>
        </a>
      </li>
      <li class="side-nav-item" style="margin-left: -3px">
        <a  routerLink="/admin/uniform" aria-expanded="false" aria-controls="sidebarMultiLevel"
           class="side-nav-link">
          <i class="fa-sharp fa-thin fa-shirt"></i>
          <span>ឯកសណ្ឋាន</span>
        </a>
      </li>
      <li class="side-nav-item">
        <a  routerLink="/admin/location" aria-expanded="false" aria-controls="sidebarMultiLevel"
           class="side-nav-link">
          <i class="fa-solid fa-map-location-dot"></i>
          <span>ទីតាំង</span>
        </a>
      </li>
    </ul>

    <!-- End Sidebar -->

    <div class="clearfix"></div>

  </div>
  <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->
