<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
  <div class="row">
    <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
      <div class="col-xxl-6 col-lg-6">
        <div class="card">
          <div class="card-body p-4">
            <div class="text-center w-75 m-auto">
              <h4 class="text-dark-50 text-center mt-0 fw-bold">
                បន្ថែម ឫកែប្រែកាលវិភាគ
              </h4>
            </div>
            <div class="mb-3">
              <label class="form-label">កាលបរិច្ឆេទ</label>
              <input type="date" class="form-control" formControlName="date" [min]="currentDate" #scheduleInput
                     [ngClass]="{ 'is-invalid': submitted && f['date'].errors}"/>
              @if (submitted && f['date'].errors?.['required']) {
                <div class="invalid-feedback mt-1">
                  <div>សូមបញ្ចូលកាលបរិច្ឆេទ</div>
                </div>
              }
            </div>
            <div class="mb-3">
              <label class="form-label">ម៉ោង</label>
              <input type="time" class="form-control" formControlName="startTime"
                     [ngClass]="{ 'is-invalid': submitted && f['startTime'].errors}"/>
              @if (submitted && f['startTime'].errors?.['required']) {
                <div class="invalid-feedback mt-1">
                  <div>សូមបញ្ចូលម៉ោង</div>
                </div>
              }
            </div>
            <div class="mb-3">
              <label class="form-label">កម្មវិធី</label>
              <textarea class="form-control" formControlName="description" style="min-height: 150px"
                        [ngClass]="{ 'is-invalid': submitted && f['description'].errors}"></textarea>
              @if (submitted && f['description'].errors?.['required']) {
                <div class="invalid-feedback mt-1">
                  <div>សូមបញ្ចូលកម្មវិធី</div>
                </div>
              }
            </div>
            <div class="mb-3">
              <label class="form-label">អធិបតីភាព</label>
              <select class="form-select form-select-sm mb-0" formControlName="presidium"
                      [ngClass]="{ 'is-invalid': submitted && f['presidium'].errors}">

                <option selected value="">...ជ្រើសរើស...</option>
                <option value="{{p.id}}" *ngFor="let p of presidiums;let i=index">{{ p.name }}</option>
              </select>
              @if (submitted && f['presidium'].errors?.['required']) {
                <div class="invalid-feedback mt-1">
                  <div>សូមជ្រើសរើសអធិបតីភាព</div>
                </div>
              }
            </div>
            <div class="mb-3">
              <label class="form-label">ឯកសណ្ឋាន</label>
              <select class="form-select form-select-sm mb-0" formControlName="uniform"
                      [ngClass]="{ 'is-invalid': submitted && f['uniform'].errors}">

                <option selected value="">...ជ្រើសរើស...</option>
                <option value="{{p.id}}" *ngFor="let p of uniforms;let i=index">{{ p.name }}</option>
              </select>
              @if (submitted && f['uniform'].errors?.['required']) {
                <div class="invalid-feedback mt-1">
                  <div>សូមជ្រើសរើសឯកសណ្ឋាន</div>
                </div>
              }
            </div>
            <div class="mb-3">
              <label class="form-label">ទីតាំង</label>
              <select class="form-select form-select-sm mb-0" formControlName="location"
                      [ngClass]="{ 'is-invalid': submitted && f['location'].errors}">

                <option selected value="">...ជ្រើសរើស...</option>
                <option value="{{p.id}}" *ngFor="let p of locations;let i=index">{{ p.name }}</option>
              </select>
              @if (submitted && f['location'].errors?.['required']) {
                <div class="invalid-feedback mt-1">
                  <div>សូមជ្រើសរើសទីតាំង</div>
                </div>
              }
            </div>

            <div class="mb-3">
              <button class="btn btn-primary" type="submit">រក្សាទុក</button>
              <button class="btn btn-danger m-1" type="button" (click)="cancelEdit()">បោះបង់</button>
            </div>
          </div>
          <!-- end card-body -->
        </div>
        <!-- end card -->
      </div>
      <!-- end col -->
    </form>
    <!-- end form col -->

    <div class="col-xxl-12 col-lg-12">
      <div class="card card-body">
        <!-- Add a wrapper around the table for responsive scrolling -->
        <div class="table-responsive">
          <table class="table table-striped table-centered mb-0">
            <thead>
            <tr>
              <th>កាលបរិច្ឆេទ</th>
              <th>ម៉ោង</th>
              <th>កម្មវិធី</th>
              <th>ក្រោមអធិបតីភាព</th>
              <th>ឯកសណ្ឋាន</th>
              <th>ទីតាំង</th>
              <th>ស្ថានភាព</th>
              <th>ផ្សេងៗ</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let s of schedules; let i = index">
              <td>{{ convertToKhmerDate(s.date) }}</td>
              <td>{{ convertToKhmerTime(s.startTime) }}</td>
              <td [innerHTML]="s.description"></td>
              <td [innerHTML]="s.presidium"></td>
              <td [innerHTML]="s.uniform"></td>
              <td [innerHTML]="s.location"></td>
              <td>
                  <span class="badge" [ngClass]="{
                    'bg-warning': s.status === 'PENDING',
                    'bg-success': s.status === 'COMPLETED',
                    'bg-danger': s.status === 'CANCELLED',
                    'text-white': s.status !== 'PENDING' && s.status !== 'COMPLETED'
                  }">
                    {{ s.status }}
                  </span>
              </td>

              <td class="table-action">
                <a href="javascript:void(0);" class="action-icon" (click)="onEditClick(s.id)" *ngIf="s.status!=='COMPLETED'">
                  <i class="mdi mdi-pencil"></i>
                </a>
                <a href="javascript:void(0);" class="action-icon" (click)="delete(s.id)">
                  <i class="mdi mdi-delete"></i>
                </a>
                <a href="javascript:void(0);" class="action-icon" (click)="updateStatus(s)" *ngIf="s.status!=='COMPLETED'">
                  <i [ngClass]="s.status==='PENDING'?'mdi mdi-alarm-off':'mdi mdi-alarm-check'"></i>
                </a>
              </td>
            </tr>
            <tr *ngIf="schedules.length === 0">
              <td colspan="8" class="text-center">មិនមានទិន្នន័យសម្រាប់បង្ហាញ</td>
            </tr>
            </tbody>
          </table>

        </div>
        <div class="row pt-1">
          <div class="col-lg-6 font-12">
            <pagination-controls
              class="custom-pagination"
              (pageChange)="onPageChange($event)"
              [autoHide]="true"
              [responsive]="true"
              previousLabel="ទំព័រមុន"
              nextLabel="ទំព័របន្ទាប់">
            </pagination-controls>
          </div>
          <div class="col-lg-6 text-end">
            <!-- New record count display -->
            <p class="mb-0 text-muted hidden-mobile font-12">
              បង្ហាញទិន្នន័យពីទី {{ latinToKhmer(getStartRecord()) }}
              ដល់ទី {{ latinToKhmer(getEndRecord()) }}
              នៃទិន្នន័យសរុប {{ latinToKhmer(totalRecords) }}
            </p>
          </div>
        </div>
        <!-- end table-responsive -->
      </div>

      <!-- end card -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
